/* Banner.css */

.banner {
    text-align: left;
    background-image: url(../../../public/banner_image.jpg);
    
    /* Set background size */
    background-size: cover; /* or contain, depending on your preference */
    
    /* Set background position */
    background-position: center; /* or any other desired position */
    
    /* Set background repeat */
    background-repeat: no-repeat;
    
    /* Set other styles */
    width: 100%;
    height: 500px; /* or any other desired height */
  }
  
  .banner-text {
    font-size: 35px;
    color: #081057; /* White text color */
    font-weight: 700;
    position: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  